body {
    font-family: "Roboto Mono", monospace;
}
h1 {
    color: #6B5559;
}
h2, p {
    color: #B4828F;
}
table{
    width: 1000px;
    text-align: left;
}
.container {
    display: grid;
    justify-content: center;
}
th {
    color: white;
    background-color: #DDB6B9;
    padding: 10px;
}
td {
    padding: 10px;
}
.top {
    justify-items: center;
}
img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}