body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.gallery img{
    width: 400px;
    border-radius: 8px;
}

.gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
